{% extends "base.html" %}
{% load staticfiles %}
{% load markdown %}
{% load smartypants %}

{% block title %}About | Nugacious{% endblock %}


{% block content %}

<div class="container">

<div class="text-center">
  <a href="/">
   <img src="{% static 'img/logo.svg' %}" alt="Nugacio.us" class="logo">
  </a>
</div>

<div class="panel panel-default">
<div class="panel-body justify">
{% filter markdown | smartypants %}
# About Nugacious

Nugacious compares physical quantities. Enter a quantity, and the closest
match, five other randomly chosen close matches, and five completely random
matches are returned. Want more random comparisons? Just reload the page or
click the "Get more comparisons" button.

## Name

Nugacious [noo-**gey**-sh*uh* s] is a synonym of trivial and refers to
the insignificant nature of the quantity comparisons provided here.


## Data

Comparisons are made against a set of roughly 700,000 physical quantities
extracted from [DBpedia](http://dbpedia.org/), an ontology created from
Wikipedia infoboxes. Length, area, volume, time, speed, mass, temperature,
power, voltage, frequency, density, and torque are covered to varying degrees.


## Bugs

If you encounter a bug, please report it on the
[Issue Tracker](https://github.com/mpetroff/nugacious/issues).


## Credits

This site was built by [Matthew Petroff](//mpetroff.net/) using
[Python](//www.python.org/), [Django](//www.djangoproject.com/),
[Pint](//pint.readthedocs.org/), and [Bootstrap](http://getbootstrap.com/).
The information icon and the more comparisons icon are from
[Font Awesome](http://fontawesome.io/).

{% endfilter %}
</div>
</div>

<div class="footer">
  <p>Nugacious is a project by <a href="//mpetroff.net/">Matthew Petroff</a>.</p>
</div>

</div>

{% endblock %}
